<h1 (click)="showTable = !showTable">Material Table with Grouping</h1>
<div>
  <button mat-raised-button color="primary" (click)="view = 'table'">
    Table
  </button>
  <button mat-raised-button color="primary" (click)="view = 'tree'">
    Tree
  </button>
  <button mat-raised-button color="primary" (click)="view = 'flat-tree'">
    Flat Tree
  </button>
  <button mat-raised-button color="primary" (click)="view = 'ag-grid'">
    Ag Grid
  </button>
  <button mat-raised-button color="primary" (click)="view = 'jqwidgets-grid'">
    JQWidgets Grid
  </button>
</div>

<ng-container [ngSwitch]="view">
  <app-table
    [columns]="columns"
    [data$]="data$"
    *ngSwitchCase="'table'"
  ></app-table>
  <app-tree [data]="dataTree$ | async" *ngSwitchCase="'tree'"></app-tree>
  <app-flat-tree
    [data]="dataTree$ | async"
    *ngSwitchCase="'flat-tree'"
  ></app-flat-tree>
  <app-ag-grid
    [columns]="columns"
    [data]="data$ | async"
    *ngSwitchCase="'ag-grid'"
  ></app-ag-grid>
  <app-jqwidgets-grid
    [columns]="columns"
    [data]="data$ | async"
    *ngSwitchCase="'jqwidgets-grid'"
  ></app-jqwidgets-grid>
</ng-container>
