<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container
    *ngFor="let column of columns; let i = index"
    matColumnDef="{{ column }}"
  >
    <mat-header-cell *matHeaderCellDef
      >{{ column }}

      <button
        class="grid-view-header-menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu>
        <button mat-menu-item (click)="groupBy($event, column)">
          Group By This Field
        </button>
        <button mat-menu-item (click)="unGroupBy($event, column)">
          Ungroup
        </button>
      </mat-menu>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
  </ng-container>

  <mat-header-row
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <!-- Group header -->
  <ng-container matColumnDef="groupHeader">
    <mat-cell
      colspan="0"
      *matCellDef="let group"
      [ngStyle]="{ 'padding-left': group.level * 30 + 'px' }"
    >
      <button mat-icon-button (click)="groupHeaderClick(group)">
        <mat-icon>
          {{ group.expanded ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <strong
        >{{ groupByColumns[group.level - 1] }} =
        {{ group[groupByColumns[group.level - 1]] }} ({{
          group.totalCounts
        }})</strong
      >
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup">
  </mat-row>
</mat-table>
