<div class="drop-zone" (drop)="drop($event)" (dragover)="allowDrop($event)">
  <mat-chip-list aria-label="Groupped columns">
    <mat-chip
      *ngFor="let col of groupByColumns"
      [removable]="true"
      (removed)="unGroupBy(col)"
    >
      {{ col }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container
    *ngFor="let column of columns; let i = index"
    matColumnDef="{{ column }}"
  >
    <mat-header-cell
      *matHeaderCellDef
      draggable="true"
      (dragstart)="drag($event, column)"
      >{{ column }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
  </ng-container>

  <mat-header-row
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <!-- Group header -->
  <ng-container matColumnDef="groupHeader">
    <mat-cell
      colspan="0"
      *matCellDef="let group"
      [ngStyle]="{ 'padding-left': group.level * 30 + 'px' }"
    >
      <button mat-icon-button (click)="groupHeaderClick(group)">
        <mat-icon>
          {{ group.expanded ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <strong
        >{{ groupByColumns[group.level - 1] }} =
        {{ group[groupByColumns[group.level - 1]] }} ({{
          group.totalCounts
        }})</strong
      >
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup">
  </mat-row>
</mat-table>
